<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
<h2>Add Product</h2>
<form action="/add" method="post">
  Name: <input name="name"><br>
  Price: <input name="price"><br>
  Quantity: <input name="quantity"><br>
  <button>Add</button>
</form>

<h2>Products</h2>
<table border="1">
  <tr>
    <th>ID</th><th>Name</th><th>Price</th><th>Quantity</th><th>Actions</th>
  </tr>
  <% products.forEach(p => { %>
    <tr>
      <td><%= p.id %></td>
      <td><%= p.name %></td>
      <td><%= p.price %></td>
      <td><%= p.quantity %></td>

      <td>
        <form action="/delete" method="post" style="display:inline;">
          <input type="hidden" name="id" value="<%= p.id %>">
          <button type="submit">Delete</button>
        </form>
      </td>
      <td>
        <form action="/update" method="post" style="display:inline;">
          <input type="hidden" name="id" value="<%= p.id %>">
          <button type="submit">Update</button>
        </form>
      </td>


    </tr>
  <% }) %>
</table>
</body>
</html>
